/*styling.css*/
/*add font family, background image*/

body{
    background: linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ),
    url(road.jpg) center center fixed;
    background-blend-mode: darken;
    background-size: cover;
    font-family: Roboto Mono, arial;


}

 p, h1, label, button{
    color: #f1f1f8!important;
}


/*Jumbotron*/
.jumbotron{
    background-color: transparent;
    margin: 0;
    padding: 10px;
}

.jumbotron h1{
    letter-spacing: 2.5px;   
}
.jumbotron h1, .jumbotron p {
    text-align: center;
}

/*map*/
#googleMap{
    width: 100%;   
    height: 200px;
    margin: 10px auto;
}

/*output box*/
#output{
       text-align: center;
    font-size: 2em;
    margin: 20px auto;
}